* {
    margin: 0;
    padding: 0;
}

/* 모든요소의 마진,패딩의 속성을 뺌 */
.전체 {
    background-color: #FF9292;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* 넓이는 부모의 넓이를 따라간다
높이는 자식의 높이를 따라간다 */

.전체 .자식1 {
    width: 25%;
    background-color: #FFB4B4;
    float: left;
}

.전체 .자식2 {
    width: 25%;
    background-color: #FFDCDC;
    float: left;
}

.전체 .자식3 {
    width: 25%;
    background-color: #FFE8E8;
    float: left;
}

.전체 .자식4 {
    width: 25%;
    background-color: #fff5f5;
    float: left;
}

.전체 .막내 {
    clear: both;
}

.바닥 {
    background-color: #F2789F;
    padding: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.바닥 .자식 {
    background-color: #F999B7;
    width: 32%;
    float: left;
    margin-right: 2%;
}

.바닥 .자식3 {
    margin-right: 0;
}

.바닥 .막내 {
    clear: both;
}