@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 900px;
    margin: 0 auto;
}

.wrap h1 {
    margin: 15px;;
}

.wrap>div {
    margin-top: 50px;
    border-top: 1px solid salmon;
}

.wrap>div h2 {
    text-align: center;
    margin: 10px 0;
}

.table1 table {
    border: 1px solid red;
    width: 100%;
    text-align: center;
}

.table1 table tr th {
    border: 1px solid red;
}

.table1 table tr td {
    border: 1px solid red;
}


.table1-2 table {
    border: 1px solid thistle;
    width: 100%;
    text-align: center;
}

.table1-2 table tr th {
    border: 1px solid thistle;
}

.table1-2 table tr td {
    border: 1px solid thistle;
}

.table2 table,
.table2 table tr th,
.table2 table tr td{
    border: 1px solid royalblue;
    border-collapse: collapse; /* -> 선사이의 공간을 없앰 */
    padding: 15px;
    text-align: center;
    background-color: blanchedalmond;
}
.table2 table tr:nth-child(1){
    border-bottom: 3px double royalblue;
}
.table2 table tr th:nth-child(2){
    height: 100px;
}


.table2 table tr th:nth-child(1){
    width: 20%;
}
.table2 table tr th:nth-child(2){
    width: 60%;
}
.table2 table tr th:nth-child(3){
    width: 20%;
}

.table3 table {
    border: 1px solid thistle;
    width: 100%;
    text-align: center;
}

.table3 table tr th {
    border: 1px solid thistle;
}

.table3 table tr td {
    border: 1px solid thistle;
}

.table3 table,
.table3 table tr th,
.table3 table tr td{
    border-collapse: collapse; /* -> 선사이의 공간을 없앰 */
    padding: 15px;
    text-align: center;
}

.table4 table{
    width: 100%;
}
.table4 table,
.table4 table tr th,
.table4 table tr td{
    border: 1px solid royalblue;
    border-collapse: collapse; /* -> 선사이의 공간을 없앰 */
    padding: 15px;
    text-align: center;
    background-color: blanchedalmond;
}

.table5 table{
    width: 100%;
}
.table5 table,
.table5 table tr th,
.table5 table tr td{
    border: 1px solid royalblue;
    border-collapse: collapse; /* -> 선사이의 공간을 없앰 */
    padding: 15px;
    text-align: center;
    background-color: blanchedalmond;
}

.table6 table{
    width: 100%;
}
.table6 table,
.table6 table tr th,
.table6 table tr td{
    border: 1px solid royalblue;
    border-collapse: collapse; /* -> 선사이의 공간을 없앰 */
    padding: 15px;
    text-align: center;
    background-color: rgba(255, 205, 205, 0.425);
}

.table7 table{
    width: 100%;
}
.table7 table,
.table7 table tr th,
.table7 table tr td{
border: 1px solid #ccc;
border-collapse: collapse;
padding: 15px;
text-align: center;
}

/* .table7 table tr:nth-child(even)even=짝수{
    background-color: rgba(255, 184, 184, 0.371);
} */
.table7 table tr:nth-child(2n)/* //2n=짝수 */{
    background-color: rgba(255, 184, 184, 0.371);
}
/* .table7 table tr:nth-child(odd)//odd=홀수{
    background-color: rgba(156, 160, 255, 0.376);
} */

.table7 table tr:nth-child(2n+1)/* //2n+1=홀수 */{
    background-color: rgba(156, 160, 255, 0.376);
}

.table7 table tr th:nth-child(even),
.table7 table tr td:nth-child(even){
    background-color: rgba(255, 240, 158, 0.428);
}

.table8 table{
    width: 100%;
}
.table8 table,
.table8 table tr th,
.table8 table tr td{
border-collapse: collapse;
padding: 15px;
text-align: center;
}

.table8 table tr{
    border-bottom: 1px solid #ccc;
    transition: 0.3s;
}
.table8 table tr:hover{
    background-color: rgba(255, 187, 187, 0.383);
}

.table9 table{
    width: 100%;
    margin-bottom: 50px;
}
.table9 table,
.table9 table tr th,
.table9 table tr td{
border: 1px solid #ccc;
border-collapse: collapse;
padding: 15px;
text-align: center;
}
.table9 colgroup col:nth-child(1){
    background-color: rgba(149, 255, 209, 0.429);
}

.table9 colgroup col:nth-child(2){
    background-color: rgba(208, 255, 55, 0.429);
}

.table9 colgroup col:nth-child(3){
    background-color: rgba(194, 154, 255, 0.404);
}